data/models/data-queue-warehouse-etl.json
{
  "StartAt": "Receive Queue Messages",
  "States": {
    "Receive Queue Messages": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:726210406721:function:StepFunctionsSample-Dynamic-ReadFromSQSQueueLambda-voCujxyojyFo:$LATEST"
      },
      "Next": "Check For Messages"
    },
    "Check For Messages": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$",
          "StringEquals": "No messages",
          "Next": "No Messages"
        }
      ],
      "Default": "Process Messages"
    },
    "No Messages": {
      "Type": "Pass",
      "End": true
    },
    "Process Messages": {
      "Type": "Map",
      "ItemsPath": "$",
      "Parameters": {
        "MessageNumber.$": "$$.Map.Item.Index",
        "MessageDetails.$": "$$.Map.Item.Value"
      },
      "Iterator": {
        "StartAt": "Transform Data",
        "States": {
          "Transform Data": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "OutputPath": "$.Payload",
            "Parameters": {
              "Payload.$": "$",
              "FunctionName": "arn:aws:lambda:us-east-1:726210406721:function:StepFunction-TransformData:$LATEST"
            },
            "Retry": [
              {
                "ErrorEquals": [
                  "Lambda.ServiceException",
                  "Lambda.AWSLambdaException",
                  "Lambda.SdkClientException",
                  "Lambda.TooManyRequestsException"
                ],
                "IntervalSeconds": 2,
                "MaxAttempts": 6,
                "BackoffRate": 2
              }
            ],
            "Next": "Update Warehouse"
          },
          "Update Warehouse": {
            "Type": "Task",
            "Resource": "arn:aws:states:::dynamodb:putItem",
            "ResultPath": null,
            "Parameters": {
              "TableName": "StepFunction-Warehouse",
              "ReturnConsumedCapacity": "TOTAL",
              "Item": {
                "MessageId": {
                  "S.$": "$.MessageDetails.MessageId"
                },
                "Body": {
                  "S.$": "$.MessageDetails.Body"
                }
              }
            },
            "Next": "Dequeue"
          },
          "Dequeue": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "InputPath": "$.MessageDetails",
            "ResultPath": null,
            "Parameters": {
              "FunctionName": "arn:aws:lambda:us-east-1:726210406721:function:StepFunction-ReadQueueMessages:$LATEST",
              "Payload": {
                "ReceiptHandle.$": "$.ReceiptHandle"
              }
            },
            "End": true
          }
        }
      },
      "End": true
    }
  }
}